<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<p th:if="${error}" th:text="${error}" style="color: red;"></p>
<h1>Administrator panel</h1>
<h2>Workspace types</h2>
<ul th:each="workspace : ${workspaces}">
    <li>
        <label th:text="'ID: ' + ${workspace.ID}"></label>
        <br>
        <label th:text="'Type: ' + ${workspace.type}"></label>
        <br>
        <label th:text="'Price: ' + ${workspace.price}"></label>
        <br>
        <label th:text="'Available: ' + ${workspace.isAvailable}"></label>
        <br>
    </li>
</ul>
<form th:action="@{/workspace}" method="get">
    <label>
        EDIT
        Enter ID:
        <input type="number" name="id" required>
    </label>
    <button>Select</button>
</form>
<form th:action="@{/workspace/delete}" method="post">
    <label>
        DELETE
        Enter ID:
        <input type="number" name="id" required>
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    </label>
    <button>Select</button>
</form>
<form th:action="@{/workspace/create}">
    <button>Create workspace</button>
</form>
<h2>Reservations</h2>
<ul th:each="reservation : ${reservations}">
    <li>
        <label th:text="'ID: ' + ${reservation.reservationID}"></label>
        <br>
        <label th:text="'Customer: ' + ${reservation.customerName}"></label>
        <br>
        <label th:text="'Workspace ID: ' + ${reservation.workspaceID}"></label>
        <br>
        <label th:text="'Workspace type: ' + ${reservation.workspaceType}"></label>
        <br>
        <label th:text="'Start time: ' + ${reservation.start}"></label>
        <br>
        <label th:text="'End time: ' + ${reservation.end}"></label>
        <br>
    </li>
</ul>
</body>
</html>