<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${name}"></title>
</head>
<body>
<h2 th:text="${name}"></h2>
<p th:if="${error}" th:text="${error}" style="color: red;"></p>
<h3>My reservations</h3>
<ul th:each="reservation : ${reservations}">
    <li>
        <label th:text="'ID: ' + ${reservation.reservationID}"></label>
        <br>
        <label th:text="'Workspace ID: ' + ${reservation.workspaceID}"></label>
        <br>
        <label th:text="'Workspace type: ' + ${reservation.workspaceType}"></label>
        <br>
        <label th:text="'Start time: ' + ${reservation.start}"></label>
        <br>
        <label th:text="'End time: ' + ${reservation.end}"></label>
        <br>
    </li>
</ul>
<form th:action="@{/reservation/delete}" method="post">
    <label>
        DELETE
        Enter ID:
        <input type="number" name="id" required>
    </label>
    <button>Delete</button>
</form>
<h3>Available workspaces</h3>
<ul th:each="workspace : ${workspaces}">
    <li>
        <label th:text="'ID: ' + ${workspace.ID}"></label>
        <br>
        <label th:text="'Type: ' + ${workspace.type}"></label>
        <br>
        <label th:text="'Price: ' + ${workspace.price}"></label>
        <br>
    </li>
</ul>
<form th:action="@{/reservation/new}" th:object="${newReservation}" method="post">
    <h4>Reserve</h4>
    <input hidden="hidden" th:field="*{customerName}">
    <label>
        Enter Workspace ID:
        <input type="number" th:field="*{workspaceID}" required>
    </label>
    <label>
        Enter start Date:
        <input type="datetime-local" th:field="*{start}" required>
    </label>
    <label>
        Enter End date:
        <input type="datetime-local" th:field="*{end}" required>
    </label>
    <button>Add</button>
</form>
</body>
</html>