<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Welcome to Workspace reservation system!</h1>
    <form action="#" th:action="@{/customer}" th:object="${customer}" method="post">
        <label>
            Log in as customer
            <input th:field="*{name}">
        </label>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></p>
        <p th:if="${error}" th:text="${error}" style="color: red"></p>
        <button>Select</button>
    </form>
    <form>
        Admin
        <button>Select</button>
    </form>
</body>
</html>