<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workspace</title>
</head>
<body>
<form th:action="@{/workspace/edit}" th:object="${workspaceInfo}" method="post">
    <th:block th:if="*{existing}">
        <input hidden="hidden" th:field="*{id}">
    </th:block>
    <label>
        Type:
        <input th:field="*{type}">
        <p th:if="${#fields.hasErrors('type')}" th:text="${#fields.errors('type')}"></p>
    </label>
    <br>
    <label>
        Available:
        <input type="checkbox" th:field="*{available}">
    </label>
    <br>
    <label>
        Price:
        <input type="number" step="0.01" th:field="*{price}">
        <p th:if="${#fields.hasErrors('price')}" th:text="${#fields.errors('price')}"></p>
    </label>
    <br>
    <button>Update</button>
</form>
</body>
</html>